body{
    margin: 0;
    padding: 0;
    background-color: #000; 
    font-family: sans-serif;
}
.loginbox{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 20px 50px;
    background-color: #fff;
    border: 1px solid #f4976c;
    border-radius: 3px;
}
.input-box{
    width: 200px;
    padding: 8px;
    margin-top: 15px;
    border: none;
    border: 1px solid #000;
    border-radius: 3px;
}
select{
    width: 218px;
    padding: 8px;
    border: none;
    border: 1px solid #000;
    border-radius: 3px;
}
select:invalid{
    color: gray;
}
.login{
    width: 215px;
    height: 35px;
    margin-top: 30px;
    background-color: #303c6c;
    border: none;
    border-radius: 3px;
}
input[value="LOG IN"]{
    color: #fff;
}
.signup{
    width: 215px;
    height: 35px;
    margin-top: 15px;
    background-color: #fff;
    border: 1px solid #303c6c;
    border-radius: 3px;
    margin-bottom: 15px;
}
input[value="OR SIGN UP"]{
    color: #303c6c;
}
h1{
    text-align: center;
    color:#f4976c
}
a{
    color:#999;
}