{% extends "base.html" %}
{% block head %}
{% endblock %}
{%block title%}Login{%endblock%}
    {% block content %}
    <section class="heading-rp">
        <h1 style="color: white;">Login</h1>
    </section>

    <section class="main-rp">
        <div class="row">
            <div class="col span_1_of_3">

            </div>
            <div class="col span_1_of_3 column-rp">
                <h2>LOG IN</h2>
                <form method="POST">
                    <select name="select-login" required>
                        <option value="" disabled selected hidden>You are</option>
                        <option value="staff">Staff</option>
                        <option value = "student">Student</option>
                    </select>
                    <input type="email" class="input-box" placeholder="Email" id="email" name="email">
                    <input type="password" class="input-box" placeholder="Password" id="password" name="password">
                    <button type="submit" class="btn1 btn-primary ">LOG IN</button>
                    <!-- <button type="submit" class="btn2 btn-primary "> OR SIGNUP</button> -->
                </form>
            </div>
            <div class="col span_1_of_3">
               
            </div>
        </div>
    </section>
    {% endblock %}
