{% extends "base.html" %} 

{% block content %}
    <section class="heading-rp">
      <h1 class="h1-rp" style="color: white;">Reset password</h1>
      <h2 class="h2-rp" style="color: white;">We all forget...</h2>
    </section>
    <section class="main-rp">
        <div class="row">
            <div class="col span_1_of_3">

            </div>
            <div class="col span_1_of_3 column-rp">
                <h3>This page lets you reset password.</h3>
                <div class="form-rp">
                <form >
                    <input type="text" placeholder="Password">
                </form>
                <form >
                    <input type="text" placeholder="Re-type password">
                </form>
            </div>
            <a href="#!"><button type="button" class="btn" href="#!">CONFIRM</button></a>
            </div>
            <div class="col span_1_of_3">
               
            </div>
        </div>
    </section>
{% endblock %}
