{% extends "base.html" %} 
{% block button %}
<li class="nav-item">
  <a class="nav-link" style="color:#303C6C;" href="/logout">Logout</a>
</li>
{% endblock %}   

{% block content %}
{% if nhanVien %}
<section class="section-qltt" style="display:flex; height:600px">
    <div class="row">
      <div class="col span_1_of_3 column-qltt1">
          <h2>ACCOUNT</h2>
          <p>Nhân viên: {{ nhanVien.HoTenNV }}</p>
          <p>MSNV: {{ nhanVien.MSNV }} </p>
          <h2>FUNCTIONS</h2>
          <a href="/staff_addbook/{{nhanVien.MSNV}}"><p>Thêm sách</p></a>
          <a href="/staff_delbook/{{nhanVien.MSNV}}"><p>Xóa sách</p></a>
          <a href="/staff_ds_muccanhcao/{{nhanVien.MSNV}}"><p>Danh sách độc giả bị cảnh cáo</p></a>
          <a href="/staff_muontra/{{nhanVien.MSNV}}"><p class="p-modify">Quản lí mượn trả</p></a>
          <a href="/staff_upd_muontra/{{nhanVien.MSNV}}"><p>Cập nhật mượn trả</p></a>
          <a href="/staff_info/{{nhanVien.MSNV}}"><p>Thông tin cá nhân</p></a>
      </div>
        <!-- <div class="col span_1_of_3 column-qltt" style="width: 10%;">
        </div> -->
        <div class="col span_2_of_3 column-qltt2" style="height: 550px;">
          <form action="{{ url_for('views.staff_muontra',MSNV=nhanVien.MSNV) }}" method="POST">
            <select required name="sort" id="orderby" class="select-list" onChange="window.location.href=this.value">
              <option type="submit" value="" disabled selected hidden>Sắp xếp theo</option>
              <option type="submit" name = "MaMuon" value="{{ url_for('views.staff_muontra',MSNV=nhanVien.MSNV, sort='MaMuon') }}">Mã mượn</option>
              <option type="submit" name = "MSSV" value="{{ url_for('views.staff_muontra',MSNV=nhanVien.MSNV, sort='MSSV') }}">Mã sinh viên</option>
              <option type="submit" name = "MSNV" value="{{ url_for('views.staff_muontra',MSNV=nhanVien.MSNV, sort='MSNV') }}">Mã nhân viên</option>
              <option type="submit" name = "MaSach" value="{{ url_for('views.staff_muontra',MSNV=nhanVien.MSNV, sort='MaSach')  }}">Mã sách</option>
              <option type="submit" value="{{ url_for('views.staff_muontra',MSNV=nhanVien.MSNV, sort='NgayMuon') }}">Ngày mượn</option>
              <option type="submit" value="{{ url_for('views.staff_muontra',MSNV=nhanVien.MSNV, sort='NgayTraSach') }}">Ngày Trả Sách</option>
            </select>
          </form>
          {% if not muontras|length %}
          <br>
          <h6> You haven't borrow any book yet.</h6>
          
          {% else %}
          <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
          <table class="table-list" style="margin-left: -100px !important;">
              <tr>
                  <th scope="col">Tình trạng</th>
                  <th scope="col" class="table-id">Mã mượn</th>
                  <th scope="col">Mã sinh viên</th>
                  <th scope="col">Mã nhân viên</th>
                  <th scope="col">Mã sách</th>
                  <th scope="col">Ngày mượn</th>
                  <th scope="col">Ngày trả sách</th>
              </tr>
              
              {% for muontra in muontras %}
              <tr>
                <td class="table-id result">{{ muontra.TinhTrang}}</td>
                <td class="table-id result">{{ muontra.MaMuon}}</td>
                <td class="table-id result">{{ muontra.MSSV}}</td>
                <td class="table-id result">{{ muontra.MSNV}}</td>
                <td class="table-id result">{{ muontra.MaSach}}</td>
                <td class="table-id result">{{ muontra.NgayMuon}}</td>
                <td class="table-id result">{{ muontra.NgayTraSach}}</td>
              </tr>
              {% endfor %}  
          </table>
          {% endif %}
        </div>
    </div>
  </section>
{% endif %}
{% endblock %}