{% extends "base.html" %} 
{%block head%}
    
    <!-- Sortable Table -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
{%endblock%}
{% block button %}
<li class="nav-item">
  <a class="nav-link" style="color:#303C6C;" href="/logout">Logout</a>
</li>
{% endblock %}  

{% block content %}
{% if sinhVien %}
<section class="section-qltt" style="display:flex">
    <div class="row">
      <div class="col span_1_of_3 column-qltt1">
          <h2>ACCOUNT</h2>
          <p>Họ và Tên: {{ sinhVien.HoTenSV }}</p>
          <p>MSSV: {{ sinhVien.MSSV }}</p>
          <h2>FUNCTIONS</h2>
          <a href="/student_borrow/{{ sinhVien.MSSV }}"><p>Tài liệu hiện đang mượn</p></a>
          <a href= "/student_info/{{ sinhVien.MSSV }}"><p>Thông tin cá nhân</p></a>
          <a href="/timkiem/{{ sinhVien.MSSV }}"><p class="p-modify">Tìm kiếm</p></a>
      </div>
        <!-- <div class="col span_1_of_3 column-qltt" style="width: 10%;">
        </div> -->
        <div class="col span_2_of_3 column-qltt2 search-result" style="padding-left: 100px;" >
<!--           <form method="POST" action="/timkiem/{{sinhVien.MSSV}}" name="search">
              {#{form.hidden_tag()}#}
              <fieldset class="search search-input" >
                {#{ form.search(placeholder='search') }#}
                <button id="symbolBtn" class="mybtn btn btn-outline-secondary " type="submit"
                name="submit-button" value="search">{#{ form.submit }#}
                <i class="fa fa-search"></i>
                </button>
              </fieldset>
          </form> -->
          

            <!-- <select required name="sort" id="orderby" class="select-list" onChange="window.location.href=this.value">
              <option type="submit" value="" disabled selected hidden>Sắp xếp theo</option>
              <option type="submit" >Mã sách</option>
              <option type="submit" value="{{ url_for('views.search',MSSV=sinhVien.MSSV, sort='TenSach') }}">Tên sách</option>
              <option type="submit" value="{{ url_for('views.search',MSSV=sinhVien.MSSV, sort='TenTacGia') }}">Tác giả</option>
              <option type="submit" value="{{ url_for('views.search',MSSV=sinhVien.MSSV, sort='MaNXB') }}">NXB</option>
              <option type="submit" value="{{ url_for('views.search',MSSV=sinhVien.MSSV, sort='SoLuongConLai') }}">Số lượng</option>
            </select> -->

            
          <!-- <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0"> -->

            <table class="table-list" id="data"  >

            <thead>              
              <tr>
                  <th scope="col" class="th-sm" >Mã sách</th>
                  <th scope="col" class="th-sm">Tên sách</th>
                  <th scope="col" class="th-sm">Tác giả</th>
                  <th scope="col" class="th-sm">NXB</th>
                  <th scope="col" class="th-sm">Số lượng</th>
              </tr>
            </thead>
              
            <tbody>
              {% for book in books%}
              <tr>
                <td class="table-id result" >{{book.MaSach}}</td>
                <td class="table-id result">{{ book.TenSach}}</td>
                <td class="table-id result">{{ book.TenTacGia}}</td>
                <td class="table-id result">{{ book.MaNXB}}</td>
                <td class="table-id result">{{ book.SoLuongConLai}}</td>
              </tr>
              {% endfor %}  
            </tbody>
              
          </table>
        </div>
    </div>
  </section>
{% endif %}
{% endblock %}
  
{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
        {orderable: true, searchable: true},
        {orderable: true, searchable: true},
        {orderable: true, searchable: true},
        {searchable: false},
        {orderable: true, searchable: true}],
      });
    });
  </script>
{% endblock %}